.bg {
    height: 100vh;
    background: url(../images/bg-repeat.jpg) center;
    background-size: 40px 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informativo-duvida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--texto-padrao);
    padding-right: 75px;
}

.informativo-duvida h1 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 11px;
}

.formulario {
    width: 340px;
    padding: 20px;
    background-color: var(--formulario);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario .input-item .input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px;
    width: 100%;
}

.formulario .input-item .input::placeholder {
    color: var(--placeholder-input);
    font-weight: 700;
}

.formulario .input-item .input.maior {
    height: 100px;
    resize: none;
    margin-bottom: 7px;
}

.formulario .input-item.preenchido .input{
    border-color: var(--input-preenchido);
}

.formulario .input-item.vazio .input{
    border-color: var(--input-vazio);
}

.formulario .input-item .aviso {
    display: none;
    color: var(--input-vazio);
    font-size: 8px;
    margin-top: -15px;
    margin-bottom: 6px;
}

.formulario .input-item .aviso.ultimo {
    display: none;
    margin-top: -7px;
    margin-bottom: 7px;
}

.formulario .aviso.aviso-ativo {
    display: block;
}

.formulario .aviso.ultimo.aviso-ativo {
    display: block;
}


.formulario .orientacao {
    margin-bottom: 20px;
    transform: translateX(-7px);
}

.formulario .btn {
    font-weight: 700;
    background-color: var(--botao);
    color: var(--texto-padrao);
    height: 42px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

